.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 15px 4px #000000;
}

.pokemon:active {
    transform: translateY(+1px);
    box-shadow: none;
}

.pokemonLink {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    text-transform: capitalize;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    height: 40px;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pagination button:hover {
    transform: translateY(-1px);
    box-shadow: 1px 1px 10px 2px #000000;
}

.pagination button:active {
    transform: translateY(+1px);
    box-shadow: none;
}

#closeBtn {
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
}

#closeBtn:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 15px 4px #000000;
 }

 #closeBtn:active {
    transform: translateY(+1px);
    box-shadow: none;
}

.popup {
    position: fixed;
    top: 5%;
    left: 15%;
    margin: auto;
    height: 90vh;
    width: 70vw;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 100px;
}

.card-details {
    padding: 1rem;
    position: relative;
    align-items: center;
    margin-bottom: 1rem;
}

.detail-name-stat {
    font-size: 0.9rem;
    text-align: center;
    position: absolute;
    left: 20%;
    right: 20%;
    top: -6%;
    z-index: 5;
}

.card-container {
    position: relative;
    height: 1rem;
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid;
    align-items: center;

}

 .progress-bar {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    animation: progress 1500ms ease-in 1;
}

@keyframes progress {
    from {
        width: 0;
    }
}

.progress-bar-flying {
    background-color: #ff751a;
}

.progress-bar-ground {
    background-color: #761aa3;
}

.progress-bar-dragon {
    background-color: #ff751a;
}

.progress-bar-grass {
    background-color: #d21aa4;
}

.progress-bar-poison {
    background-color: #9bcc50;
}

.progress-bar-fire {
    background-color: #51c4e7;
}

.progress-bar-water {
    background-color: #fd7d24;
}

.progress-bar-bug {
    background-color: #d21aa4;
}

.progress-bar-normal {
    background-color: #d21aa4;
}

.progress-bar-electric {
    background-color: #a31aa4;
}

.progress-bar-fairy {
    background-color: #e0f49e;
}

.progress-bar-fighting {
    background-color: #2ac7c3;
}

.progress-bar-psychic {
    background-color: #fffc91;
}

.progress-bar-rock {
    background-color: #715f97;
}

.progress-bar-steel {
    background-color: #af7662;
}

.progress-bar-ice {
    background-color: #f45d25;
}

.progress-bar-ghost {
    background-color: #fdf81b;
}

.progress-bar-dark {
    background-color: #73571d;
}

@media screen and (min-width: 320px) {
    .popup {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
    .card-details {
        padding: 0.9rem;
        margin-bottom: 0.5rem;
    }
    
    .detail-name-stat {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .popup {
        top: 3%;
        left: 5%;
        height: 95vh;
        width: 90vw;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    80% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(-6px);
    }
  }